name: Deploy Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - main
  # workflow_run:
  #   workflows: ["Build and Test"]
  #   types:
  #     - completed
  #   branches:
  #     - main

env:
  PULUMI_WORK_DIR: ./infrastructure

jobs:
  call-template:
    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'
    uses: Halfmanification/PulumiDemo.PersonService/.github/workflows/testtemplate1.yml@main
    with:
      environment: dev
      pulumi_azure_storage_account: ${{ vars.PULUMI_AZURE_STORAGE_ACCOUNT }}
      pulumi_working_directory: ./infrastructure
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}