name: Deploy Infrastructure

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed
    branches:
      - main

env:
  AZURE_STORAGE_ACCOUNT: ${{ vars.PULUMI_AZURE_STORAGE_ACCOUNT }}
  PULUMI_WORK_DIR: ./infrastructure

jobs:
  deploy:
    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy Infrastructure
        uses: ./.github/templates/deploy-infrastructure
        with:
          environment: dev
          pulumi_azure_storage_account: ${{ env.AZURE_STORAGE_ACCOUNT }}
          pulumi_working_directory: ${{ env.PULUMI_WORK_DIR }}