name: Deploy Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - main
  # workflow_run:
  #   workflows: ["Build and Test"]
  #   types:
  #     - completed
  #   branches:
  #     - main

env:
  PULUMI_WORK_DIR: ./infrastructure

jobs:
  call-template:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Print azure credentials Again
        run: echo ${{ secrets.AZURE_CREDENTIALS }}

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Deploy Infrastructure
        uses: ./.github/templates/testtemplate1.yml
        with:
          environment: dev
          pulumi_azure_storage_account: ${{ vars.PULUMI_AZURE_STORAGE_ACCOUNT }}
          pulumi_working_directory: ${{ env.PULUMI_WORK_DIR }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}