name: Deploy Function App

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      azure_functionapp_name:
        type: string
        required: true
      azure_functionapp_package_path:
        type: string
        required: true

jobs:
  deploy-function-app:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v4
      with:
        enable-AzPSSession: true
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build source code with Release configuration
      shell: bash
      run: |
        pushd './${{ inputs.azure_functionapp_package_path }}'
        dotnet build --configuration Release --output ./output
        popd
    
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ inputs.azure_functionapp_name }}
        package: '${{ inputs.azure_functionapp_package_path }}/output'
    
    - name: Logout
      run: |
        az logout