name: Deploy Function App

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      azure_functionapp_name:
        type: string
        required: true
      azure_functionapp_package_path:
        type: string
        required: true
      azure_resourcegroup_name:
        type: string
        required: true
      azure_subscription_id:
        type: string
        required: true

jobs:
  deploy-function-app:
    name: Deploy Function App
    environment: ${{ inputs.environment }}
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v2
      with:
        enable-AzPSSession: true
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # - name: Build source code with Release configuration
    #   shell: bash
    #   run: |
    #     pushd './${{ inputs.azure_functionapp_package_path }}'
    #     dotnet build --configuration Release
    #     dotnet publish -c Release -o './output' 
    #     tar -czf ${{ inputs.azure_functionapp_name }}.tar.gz './output' 
    #     popd
      
    - name: Build source code with Release configuration
      run: |
        pushd './${{ inputs.azure_functionapp_package_path }}'
        dotnet build --configuration Release
        dotnet publish -c Release -o './output' 
        Compress-Archive './output/*' './${{ inputs.azure_functionapp_name }}.zip'
        popd
    
    # - name: 'Run Azure Functions Action'
    #   uses: Azure/functions-action@v1 # still on node16, waiting for fix in this PR https://github.com/Azure/functions-action/pull/217
    #   with:
    #     app-name: ${{ inputs.azure_functionapp_name }}
    #     package: '${{ inputs.azure_functionapp_package_path }}/output'

    # # Implemented retry with delay to let Azure ARM get in sync with itself before trying to deploy any services
    # # See https://github.com/Azure/functions-action/issues/116
    # # and https://github.com/microsoft/azure-pipelines-tasks/issues/15532 for more information about this issue
    # - name: Deploy Azure Functions (with retry)
    #   uses: Wandalen/wretry.action@master
    #   with:
    #     action: Azure/functions-action@v1 # still on node16, waiting for fix in this PR https://github.com/Azure/functions-action/pull/217
    #     with: |
    #       app-name: ${{ inputs.azure_functionapp_name }}
    #       package: '${{ inputs.azure_functionapp_package_path }}/output'
    #     attempt_limit: 10
    #     attempt_delay: 60000

    # - name: Deploy Artifact
    #   run: az functionapp deployment source config-zip --src "${{ inputs.azure_functionapp_package_path }}/${{ inputs.azure_functionapp_name }}.tar.gz" --name "${{ inputs.azure_functionapp_name }}" --resource-group "${{ inputs.azure_resourcegroup_name }}" --subscription "${{ inputs.azure_subscription_id }}"

    - name: Deploy Function App
      run: az functionapp deployment source config-zip --src "${{ inputs.azure_functionapp_package_path }}/${{ inputs.azure_functionapp_name }}.zip" --name "${{ inputs.azure_functionapp_name }}" --resource-group "${{ inputs.azure_resourcegroup_name }}" --subscription "${{ inputs.azure_subscription_id }}"
    
    - name: Logout
      run: |
        az logout