name: Deploy Function App

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      azure_functionapp_name:
        type: string
        required: true
      azure_functionapp_package_path:
        type: string
        required: true
      pulumi_azure_storage_account:
        type: string
        required: true

jobs:
  deploy-to-env:
      deploy-infrastructure:
      name: ${{ inputs.environment@U } - Deploy Infrastructure
        needs: build-and-test
        uses: ./.github/workflows/deploy-infrastructure.yml
        with:
          environment: ${{ inputs.environment }
          pulumi_azure_storage_account: ${{ vars.PULUMI_AZURE_STORAGE_ACCOUNT }}
        secrets: inherit
      
      deploy-service:
      name: ${{ inputs.environment@U } - Deploy Service
        needs: deploy-infrastructure-${{ inputs.environment }
        uses: ./.github/workflows/deploy-function-app.yml
        with:
          environment: ${{ inputs.environment }
          azure_functionapp_name: ${{ inputs.azure_functionapp_name }}
          azure_functionapp_package_path: ${{ inputs.azure_functionapp_package_path }}
        secrets: inherit