name: Deploy Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yml

  deploy-to-dev:
    name: DEV - Deploy
    needs: build-and-test
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: 'dev'
      azure_functionapp_name: 'pulumidemo-personservice-dev-fa'
      azure_functionapp_package_path: './src/PulumiDemo.PersonService'
      pulumi_azure_storage_account: 'bopulumisa'
    secrets: inherit
  
  deploy-to-test:
    name: TEST - Deploy
    needs: build-and-test
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: 'test'
      azure_functionapp_name: 'pulumidemo-personservice-test-fa'
      azure_functionapp_package_path: './src/PulumiDemo.PersonService'
      pulumi_azure_storage_account: 'bopulumisa'
    secrets: inherit
  
  deploy-to-prod:
    name: PROD - Deploy
    needs: build-and-test
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: 'prod'
      azure_functionapp_name: 'pulumidemo-personservice-prod-fa'
      azure_functionapp_package_path: './src/PulumiDemo.PersonService'
      pulumi_azure_storage_account: 'bopulumisa'
    secrets: inherit