name: Deploy Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  AZURE_FUNCTION_PACKAGE_PATH: './src/PulumiDemo.PersonService'
  AZURE_SUBSCRIPTION_ID: '628f5399-503b-4911-946c-aa81f4356307'
  PULUMI_STORAGE_ACCOUNT: 'bopulumisa'

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yml

  deploy-to-dev:
    name: DEV - Deploy
    needs: build-and-test
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: 'dev'
      azure_functionapp_name: 'pulumidemo-personservice-dev-fa'
      azure_functionapp_package_path: ${{ env.AZURE_FUNCTION_PACKAGE_PATH }}
      azure_resourcegroup_name: 'pulumidemo-personservice-dev-rg'
      azure_subscription_id: ${{ env.AZURE_SUBSCRIPTION_ID }}
      pulumi_azure_storage_account: ${{ env.PULUMI_STORAGE_ACCOUNT }}
    secrets: inherit
  
  deploy-to-test:
    name: TEST - Deploy
    needs: deploy-to-dev
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: 'test'
      azure_functionapp_name: 'pulumidemo-personservice-test-fa'
      azure_functionapp_package_path: ${{ env.AZURE_FUNCTION_PACKAGE_PATH }}
      azure_resourcegroup_name: 'pulumidemo-personservice-test-rg'
      azure_subscription_id: ${{ env.AZURE_SUBSCRIPTION_ID }}
      pulumi_azure_storage_account: ${{ env.PULUMI_STORAGE_ACCOUNT }}
    secrets: inherit
  
  deploy-to-prod:
    name: PROD - Deploy
    needs: deploy-to-test
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: 'prod'
      azure_functionapp_name: 'pulumidemo-personservice-prod-fa'
      azure_functionapp_package_path: ${{ env.AZURE_FUNCTION_PACKAGE_PATH }}
      azure_resourcegroup_name: 'pulumidemo-personservice-prod-rg'
      azure_subscription_id: ${{ env.AZURE_SUBSCRIPTION_ID }}
      pulumi_azure_storage_account: ${{ env.PULUMI_STORAGE_ACCOUNT }}
    secrets: inherit